<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableAvalCss.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <header>
            <div class="menu">
            <a href="{{ url_for("register") }}">Login</a>
            <a href="{{ url_for("about") }}">Home </a>
            </div>
    </header>
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Diretor</td>
            <td>Gênero</td>
            <td>Avaliação IMDB</td>
            <td>Avaliação Rotten Tomatoes</td>
            <td>Classificação Etária</td>
        </tr>

        {% for f in filmes %}
        <tr>
            <td>{{f[0]}}</td>
            <td>{{f[1]}}</td>
            <td>{{f[2]}}</td>
            <td>{{f[6]}}</td>
            <td>{{f[7]}}</td>
            <td>{{f[9]}}</td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>